body {
	font-family: 'Raleway', sans-serif;
	background: #eef1f4;
	padding-top: 100px;
	color: #333;
}
hr {
	margin: 0;
}
.nav-link:hover {
	opacity: 0.8 !important;
}
.navbar-brand {
	font-size: 30px !important;
}
.navbar-toggler {
	color: white !important;
	border: 0 !important;
}
.navbar-toggler .fa {
	font-size: 20px;
}
.active-card {
	font-size: .9rem;
}
.section {
	margin-bottom: 15px;
	padding-bottom: 15px;
}
.section-wrapper {
	overflow: hidden;
}
.section-separator h3 {
	display: inline-block;
	padding: 10px;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	background: #eef1f4;
	font-weight: bold;
	color: #446;
}
.section-separator .hr-thick {
	position: relative;
	top: 30px;
	border: 2px solid #557;
	width: 320px;
	margin: auto;
}
.section-separator .hr-thin {
	position: relative;
	top: 33px;
	border: 1px solid #557;
	width: 315px;
	margin: auto;
}
.section-title {
	
}
.section-content {
	padding-top: 15px;
	padding-bottom: 15px;
}
#map-wrapper {
	height: 400px;
	position: relative;
}
#map {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}
#footer {
	margin-top: 30px;
}