html, body {
   margin:0;
   padding:0;
   height:100%;
}
#container {
  /*height:100%;*/
  min-height:100%;
  position:relative;
  padding-top: 90px;
  font-family: Raleway;
  background-color: #eee;
}
#wrap {
  padding-bottom: 40px;
}
.option {
  position: absolute;
  right: 5px;
  top: 5px;
}
.select2-container--default .select2-selection--single {
	height: 40px !important;
	padding-top: 5px;
	padding-left: 5px;
	border-color: #ced4da !important;
}
#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}
.leaflet-popup-content-wrapper span {
  display: inline-block;
  width: 15px;
}
.nav-pills .nav-link.active, 
.nav-pills .show>.nav-link {
  background-color: #17a2b8;
}